dify-app/dsl/File Output Test.yml
app:
  description: ファイル出力の検証用（URL のファイルを取得して出力）
  icon: 📄
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: File Output Test
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: http-request
      id: edge-start-http
      source: '1730000000000'
      sourceHandle: source
      target: '1730000000001'
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        sourceType: http-request
        targetType: end
      id: edge-http-end
      source: '1730000000001'
      sourceHandle: source
      target: '1730000000002'
      targetHandle: target
      type: custom
    nodes:
    - data:
        desc: ''
        selected: false
        title: 開始
        type: start
        variables:
        - default: https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf
          label: 取得するファイルの URL
          max_length: 2000
          required: true
          type: text-input
          variable: file_url
      height: 109
      id: '1730000000000'
      position:
        x: 80
        y: 240
      positionAbsolute:
        x: 80
        y: 240
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        desc: file_url のファイルを GET して files 出力に格納する
        headers: ''
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTPリクエスト（ファイル取得）
        type: http-request
        url: '{{#1730000000000.file_url#}}'
        variables: []
      height: 168
      id: '1730000000001'
      position:
        x: 400
        y: 240
      positionAbsolute:
        x: 400
        y: 240
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1730000000001'
          - files
          variable: result_file
        - value_selector:
          - '1730000000001'
          - status_code
          variable: http_status
        selected: false
        title: 終了
        type: end
      height: 114
      id: '1730000000002'
      position:
        x: 720
        y: 240
      positionAbsolute:
        x: 720
        y: 240
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 27.5
      y: 111.5
      zoom: 1
  rag_pipeline_variables: []
